<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lead List</h2>
<table border="1">
  <tr><th>Name</th><th>Email</th><th>Interest</th><th>Score</th><th>Time</th></tr>
  {% for lead in leads %}
    <tr>
      <td>{{ lead.name }}</td>
      <td>{{ lead.email }}</td>
      <td>{{ lead.interest }}</td>
      <td>{{ lead.score }}</td>
      <td>{{ lead.timestamp }}</td>
    </tr>
  {% endfor %}
</table>

</body>
</html>